Arduino-Sketch/flows.json
[{"id":"1b8141a91d427f5a","type":"tab","label":"Obegraensad","disabled":false,"info":"","env":[]},{"id":"795a565f036d5654","type":"inject","z":"1b8141a91d427f5a","name":"On","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ON","payloadType":"str","x":210,"y":60,"wires":[["346c17873b5e30c5"]]},{"id":"346c17873b5e30c5","type":"mqtt out","z":"1b8141a91d427f5a","name":"","topic":"obegraensad/setDisplay","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a98b19cf.1d42b8","x":490,"y":100,"wires":[]},{"id":"5c4175935f4b7649","type":"inject","z":"1b8141a91d427f5a","name":"Off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"OFF","payloadType":"str","x":210,"y":140,"wires":[["346c17873b5e30c5"]]},{"id":"9f6f0990e7a82f4f","type":"mqtt out","z":"1b8141a91d427f5a","name":"","topic":"obegraensad/display-state","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a98b19cf.1d42b8","x":500,"y":220,"wires":[]},{"id":"936cd8c83baa6f23","type":"inject","z":"1b8141a91d427f5a","name":"askDisplay","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":220,"wires":[["9f6f0990e7a82f4f"]]},{"id":"14bda1f6e17d0209","type":"debug","z":"1b8141a91d427f5a","name":"Display","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":280,"wires":[]},{"id":"02a485228bb13883","type":"mqtt in","z":"1b8141a91d427f5a","name":"","topic":"obegraensad/display","qos":"1","datatype":"auto","broker":"a98b19cf.1d42b8","nl":false,"rap":false,"inputs":0,"x":230,"y":280,"wires":[["14bda1f6e17d0209"]]},{"id":"97ddd76f52039bc5","type":"mqtt out","z":"1b8141a91d427f5a","name":"","topic":"obegraensad/setBrightness","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a98b19cf.1d42b8","x":500,"y":420,"wires":[]},{"id":"a1c9bb3b88e2ae31","type":"inject","z":"1b8141a91d427f5a","name":"Mittag","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"str","x":230,"y":420,"wires":[["97ddd76f52039bc5"]]},{"id":"3269696e3b181c4e","type":"inject","z":"1b8141a91d427f5a","name":"Nacht","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":230,"y":340,"wires":[["97ddd76f52039bc5"]]},{"id":"99c6d5d85d81b5ad","type":"inject","z":"1b8141a91d427f5a","name":"Morgen","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":230,"y":380,"wires":[["97ddd76f52039bc5"]]},{"id":"9c0cb30cecb757ac","type":"inject","z":"1b8141a91d427f5a","name":"Sonne","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"str","x":230,"y":460,"wires":[["97ddd76f52039bc5"]]},{"id":"fbc3ed841b12b5a4","type":"inject","z":"1b8141a91d427f5a","name":"Maximal","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"4","payloadType":"str","x":240,"y":500,"wires":[["97ddd76f52039bc5"]]},{"id":"83845a2a805b2c78","type":"ui_switch","z":"1b8141a91d427f5a","name":"","label":"Display","tooltip":"","group":"e2900bb6de50d984","order":2,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":100,"y":100,"wires":[["346c17873b5e30c5"]]},{"id":"66f37fef418064f9","type":"ui_slider","z":"1b8141a91d427f5a","name":"","label":"Helligkeit","tooltip":"","group":"e2900bb6de50d984","order":3,"width":"5","height":"1","passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"4","step":1,"className":"","x":100,"y":440,"wires":[["97ddd76f52039bc5"]]},{"id":"a98b19cf.1d42b8","type":"mqtt-broker","name":"","broker":"192.168.1.31","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e2900bb6de50d984","type":"ui_group","name":"Obegraensad","tab":"e1e2d723faa9d1f6","order":1,"disp":true,"width":"10","collapse":false,"className":""},{"id":"e1e2d723faa9d1f6","type":"ui_tab","name":"Obegraensad","icon":"dashboard","disabled":false,"hidden":false}]